.form-inputs {
  margin-bottom: 1.5rem;
  width: 100%;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: rgb(0, 0, 0);
}

.form-input {
  display: flex;
  padding-left: 10px;
  outline: inherit;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: groove;
}

.form {
  padding-left: 10px;
}
